.btn a{
    color:violet;
    text-decoration: none;
    border: .5px solid black;
    position:absolute;
    width: 150px;
    text-align: center;
    margin: 0px 15px;
    padding: 10px;
    z-index:1;
}
.btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    background: aqua;
    top:0;
    left: 0;
    z-index:-1;
    transition: 0.5s;
}
.btn a:hover span{
    width: 100%;
}
.btn a:hover {
    color:black;
}
#source{
    color:gray;
    font-family: sans-serif;
}