*{
    margin:0;
    padding:0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/img/nen2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.logo{
    /* margin: 12px 40px; */
    position: relative;
    top:15px;
    left:30px;
    height: 70px;
}
.choice{
    background:rgba(0, 0, 0,0.8);
    height: 100px;
    transition: 0.8s;
}
.menu{
    list-style: none;
    position: fixed;
    top:28px;
    left:150px;
    transition: 1s;
}

.menu li{
    display: inline-block;
    margin:10px;
    transition: 1s;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    position: relative;
    left:-40px;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(0, 255, 255, 0.863);
    letter-spacing: 2px;
    transition: 1s;
}
.menu li a:hover{
    background-color:rgba(0, 255, 255, 0.863);
    color:black;
    transition: 1s;
    border-radius: 10px;
}
.public{
    position:relative;
    top:-70px;
    float: right;
    left:-20px;
}
.public a{
    text-decoration: none;
}
.public a img
{
    height: 40px;
    margin:0 10px;
}
/* #calendar{
    position: relative;
    left: 850px;
} */
/* content */
.welcome{
    text-align: center;
    color:white;
    position: relative;
    top:60px;
    border-radius: 50px;
}
.welcome h1{
    font-family: 'Kaushan Script',cursive;
    font-size: 50px;
    margin: 50px 0;
    transition: 1s;
}
.welcome h1:hover{
    color:rgba(0, 255, 255, 0.863);
    transition: 1s;
}
.welcome h1::selection
{
    color:red;
}
.welcome .btn a{
    font-family: sans-serif;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    border: .5px solid aqua;
    position:relative;
    width: 200px;
    margin: 0 15px;
    padding: 15px;
    z-index: 1;
}
.welcome .btn a span{
    width: 0;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    background:rgba(0, 255, 255, 0.863);
    left: 0;
    top: 0;
    z-index:-1;
    transition: 0.5s;
}
.btn a:hover span{
    width: 100%;
}
.btn a:hover{
    color: black;
}
footer
{
    color:gray;
    text-align: center;
    margin: 25px 15rem;
    position: relative;
    top:45%;
}
/* .calendar{
    position: relative;
    float:right;
    height: 40px;
    padding: 0;
    margin: 10px 10px;
    top:-80px;
    left:-70px
} */
/* .time{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */
@media screen and (max-width:770px){
    .welcome h1{
        font-size: 20px;
    }
    .menu{
        font-size: 10px;
        display: block;
    }
    footer{
        display: block;
        font-size: 10px;
    }
}